@import url('https://fonts.googleapis.com/css?family=Cutive+Mono|Roboto');

* {
	padding:0;
	margin: 0;
}

body {
	margin: 20px 40px 20px 40px;
	text-align: center;
	background: url(../images/background.png);
	background-repeat: no-repeat;
	background-size: contain;
}

ul {
	list-style-type: none;
	overflow: hidden;
}

li a {
	float: left;
    	display: block;
    	color: white;
    	text-align: center;
    	padding: 5px 10px 5px;
    	text-transform: uppercase;
    	font-family: 'Roboto', sans-serif;
    	text-decoration: none;
    	font-size: 9.5px;
    	font-weight: 500;
}

li a:hover {
    	color: white;
    	opacity: 0.5;
}

li a:active {
  	 color: black;
}

h1 {
	color: white;
	text-transform: uppercase;
	font-family: 'Cutive Mono', monospace;
	font-size: 72px;
	text-align: left;
	font-weight: lighter;
}

h2 {
	color:white;
	font-family: 'Cutive Mono', monospace;
	font-size: 25px;
	font-weight: lighter;
	text-align: left;
	margin-bottom: 20px;
}

button {
	background-color: white;
	color: #00AEEF;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	font-size: 10px;
	padding: 10px;
	border: none;
	font-weight: 600;
	float: left;
	border-radius: 3px;
}

h3 {
	color: #00AEEF;
	font-family: 'Cutive Mono', monospace;
	font-size: 26px;
	font-weight: light;
}

p {
	color: black;
	font-family: 'Roboto', sans-serif;
	font-size: 13.5px;
	margin-right: 80px;
	margin-left: 80px;
	margin-top: 20px;
	margin-bottom: 20px;
	line-height: 1.5em;
}

footer {
	color: white;
	background-color: #00AEEF;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	padding: 100px 0px 100px 0px;
	margin-top: 75px;
}

.homecontainer {
	margin: 200px 0px 0px 0px;
}
.back2top {
	color: #00AEEF;
	font-family: 'Cutive Mono', monospace;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700px;
	padding-top: 100px;
	padding-bottom: 50px;
	text-decoration: underline;
}

.space {
	margin: 600px 290px 50px 225px;
}

.insidetext {
	padding: 0px 60px 20px 60px;
}

.money {
	width: 1000px;
	height: auto;
	padding-top: 60px;
	float: center;
	width: 1200px;
	height: auto;
	padding-bottom: 50px;
	text-align: center;
}

