@import url('https://fonts.googleapis.com/css?family=Cutive+Mono|Roboto');

* {
	padding:0 auto;
	margin: 0 auto;
}

body {
	font-family: Roboto, sans-serif;
	size: 1em; /*16px = 1em*/
	color: #000;
}

nav {
	background-color: #fff;
    box-shadow: 0 0.25em 0.25em 0 rgba(150, 150, 150, 0.18), 0 0.25em 0.25em 0 rgba(150, 150, 150, 0.15);
    display: inline;
  	position: fixed;
  	width: 100%;
  	padding: 0.95em 1.75em;
}

a, a:hover {
    text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 0.7em;
    font-weight: bold;
	padding: 1em;
	letter-spacing: 0.1875em;
}


a {
    color: #00AEEF;
    background-color: #fff;
}

a:hover {
    color: #00AEEF;
    opacity: 0.5;
}

header {
	padding: 2em 0 0.0 6.25em;
	background-color: #fff;
 	display: block;
 	background-image: url(../images/background.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	height: 90vh;
	background-color: #00AEEF;
	background-position: right;
}

main {
	margin: 0 auto;
 }

img {
}

span {
	font-weight: lighter;
}

h1 {
	color: #fff;
	text-transform: uppercase;
	font-family: 'Cutive Mono', monospace;
	font-size: 4.5em;
	font-weight: bolder;
	margin-top: 3.25em;
}

h2 {
	color:#fff;
	font-family: 'Cutive Mono', monospace;
	font-size: 2.25em;
	font-weight: lighter;
}

button {
	background-color: #fff;
	color: #00AEEF;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	font-size: 0.75em;
	padding: 1em;
	margin: 1.5em 0 0 0;
	border: none;	
	font-weight: bolder;
	border-radius: 0.25em;
    box-shadow: 0 0.25em 0.25em 0 rgba(150, 150, 150, 0.18), 0 0.25em 0.25em 0 rgba(150, 150, 150, 0.15);
}

h3, .middleh3 {
	color: #00AEEF;
	font-family: 'Cutive Mono', monospace;
	font-size: 2em;
	font-weight: light;
	padding: 0 0 0.3em 0;
}

hr, .middlehr {
	border: 0.02em #00AEEF solid;
	background-color: #00AEEF;
	height: 0.5em;
	width: 3em;
	float: left; 
	padding: 0.03em;
}

article {
	float: left;
	width: 50%;
	vertical-align: middle;
}

p, .middlep {
	font-family: 'Roboto', sans-serif;
	font-size: 0.75em;
	line-height: 2em;
	font-weight: 100em;
	text-transform: uppercase;
}

aside {
	float: right;
	width: 50%;
}

footer {
	color: #fff;
	background-color: #00AEEF;
	font-family: 'Roboto', sans-serif;
	font-size: 0.8em;
	text-align: center;
	padding: 5em 0;
	width: 100%;
  }

.section1, .section2, .section3 {
	padding: 6em 0 1em 12.25em;
	background-color: #eff;
 	display: block;
  	height: 25em;
}

.section2 {
 	background-image: url(../images/section2photo.png);
	background-size: cover;
	background-repeat: no-repeat;
	display: block;
	background-color: #00AEEF;
  	height: 20em;
}

.middleh3 {
	color: #fff;
}

.middlep {
	color: #fff;
	padding: 0 28em 0 0;
}

.middlehr {
	background-color: #fff;
}

.sideimages {
	width: 35%;
	display: block;
}



