* {
	padding:0;
	margin: 0;
}

.homecontainer {
	margin: 200px 0px 0px 0px;
}

body {
	margin: 20px 40px 20px 40px;
	text-align: center;
	background: url(../images/background.png);
	background-repeat: no-repeat;
	background-size: contain;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li a {
	float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 5px 10px 5px;
    text-transform: uppercase;
    font-family: roboto, arial;
    text-decoration: none;
    font-size: 9px;
    font-weight: bold;
}

li a:hover {
    color: white;
    opacity: 0.5;
}

li a:active {
	color: black;
}

h1 {
	color: white;
	text-transform: uppercase;
	font-family: "Courier New", monospace;
	font-size: 72px;
	text-align: left;
}

h2 {
	color:white;
	font-family: "Courier New", monospace;
	font-size: 25px;
	font-weight: lighter;
	text-align: left;
	margin-bottom: 20px;
}

h3 {
	color: #00AEEF;
	font-family: "Courier New", monospace;
	font-size: 24px;
	font-weight: light;
}

p {
	color: black;
	font-family: roboto, arial;
	font-size: 13px;
	font-weight: lighter;
	margin-right: 80px;
	margin-left: 80px;
	margin-top: 20px;
	margin-bottom: 20px;
}

footer {
	color: white;
	background-color: #00AEEF;
	font-family: roboto, arial;
	font-size: 12px;
	padding: 100px 0px 100px 0px;

}

.back2top {
	color: #00AEEF;
	font-family: "roboto", arial;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-size: 9px;
	font-weight: 800px;
	padding-top: 100px;
	padding-bottom: 200px;
}


#chart {
    background-size: fixed;
    background-repeat: no-repeat;
    float: left;
    width: 135px;
    height: auto;
}

#bar {
    background-size: fixed;
    background-repeat: no-repeat;
    float: center;
    width: 142px;
    height: auto;
}

#time {
    background-size: fixed;
    background-repeat: no-repeat;
    width: 80px;
    height: auto;
    float: right;
}

button {
	background-color: white;
	color: #00AEEF;
	font-family: "roboto", arial;
	text-transform: uppercase;
	font-size: 10px;
	padding: 11px;
	border: none;
	font-weight: 700;
	float: left;
	border-radius: 3px;
}

.tripleimage {
	margin: 600px 290px 100px 225px;
}

.insidetext {
	padding: 0px 60px 100px 60px;
}

.money {
	width: 1400px;
	height: auto;
	padding-bottom: 80px;
}

